@model List<ResultSubFeatureDto>

<section class="w3l-bottom-grids py-5" id="steps">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="grids-area-hny main-cont-wthree-fea row">
            <div class="col-lg-4 col-md-6 grids-feature">
                <div class="area-box no-box-shadow text-left">
                    <span class="fa fa-phone"></span>
                    <h5>Çalışanlarımıza 7/24 Ulaşın</h5>
                    <h4><a href="#feature" class="title-head">Canlı Görüntülü Destek</a></h4>
                    <p>Ofis çalışanlarımız ile canlı çevrimiçi görüşebilir ve sanal ev turu yapabilirsiniz</p>
                    <a href="#more" class="more">Bize Yazın<span class="fa fa-long-arrow-right"></span> </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 grids-feature mt-md-0 mt-4">
                <div class="area-box no-box-shadow text-left">
                    <span class="fa fa-user-o"></span>
                    <h5>Düşük Fiyatlı Uygun Evler</h5>
                    <h4><a href="#feature" class="title-head"></a>Bekliyoruz!!</h4>
                    <p>Mevcut piyasa rakiplerimize göre hem alıcıdan hem de satıcıdan sadece %1 oranında komisyon alıyoruz.</p>
                    <a href="#more" class="more">Günün Fısatları<span class="fa fa-long-arrow-right"></span> </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 grids-feature mt-lg-0 mt-4">
                <div class="area-box no-box-shadow text-left">
                    <span class="fa fa-home"></span>
                    <h5>Ofislerimizden Evlere Transfer</h5>
                    <h4><a href="#feature" class="title-head">Günde 8 ücretsiz sefer</a></h4>
                    <p>Ofislerimizden görmek istediğiniz dairelere ücretsiz transfer desteği sağlıyoruz</p>
                    <a href="#more" class="more">İlanları Gör <span class="fa fa-long-arrow-right"></span> </a>
                </div>
            </div>
        </div>
    </div>
</section>
